python 		              
Cython 		              
h5py                    
imutils                 
ipython                 
Keras                                  
Keras-Applications                     
Keras-Preprocessing                    
keras-segmentation                     
matplotlib                            
numpy                                 
nvidia-ml-py3                        
opencv-python                       
pandas                                
Pillow                                 
pip                                   
protobuf                              
PyMySQL                                
pyparsing                              
scikit-learn                          
scipy                                  
sklearn                                  
spyder                                 
tensorboard                            
tensorflow-estimator                  
tensorflow-gpu                         
tensorflow-hub                         
utils                                  
neptune-client                 
tkinter
